body {
    background-color: #ffffff;
    color: #121212;
    font-family: Arial, sans-serif;
    /* font-family: 'Inknut Antiqua', serif; */
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2b705;
    color: #121212;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2, h3 {
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
}

.profile-info p {
    margin: 10px 0;
}

#introduction {
    width: 100%;
    resize: none;
}

#groups-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.group-block {
    width: 200px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    background-color: #402719;
    color: #ffffff;
    transition: background-color 0.3s;
}

.group-block:hover {
    background-color: #333333;
}

button {
    display: block;
    width: 100px;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6200ea;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a00b3;
}
