body {
    background-color: #ffffff;
    color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 5px;
    background-color: #f2a20c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Inknut Antiqua', serif;
    color: #121212;
}

#profile-btn {
    background-color: #402719;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#profile-btn:hover {
    background-color: #2d1a13;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.block {
    width: 200px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    background-color: #402719;
    color: #ffffff;
    transition: background-color 0.3s;
}

.add-btn {
    width: 150px;
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    background-color: #2212;
    color: #ffffff;
    transition: background-color 0.3s;
}



.block:hover {
    background-color: #2d1a13;
}

.add-block {
    background-color: #f2b705;
    color: #121212;
}

.add-block:hover {
    background-color: #d99b04;
}
