<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail View - Group 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='group-details_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="details-container">
        <form id="schedule-form" action="{{ url_for('editGroup', group_id=group_id )}}" method="post">
            <h2>Group Name:
                <input type="text" id="group-name" name="group-name" required value="{{group.name}}">
            </h2>
            <p>Group Info:
                <textarea id="group-info" name="group-info" rows="4" required>{{group.description}}</textarea>
            </p>
            <h3>Check List</h3>
            {% for i in checklist %}
                <ul>
                    <div id="tasks-container">
                        <div class="task">
                            <input type="text" class="task-input" name="task[]" required value="{{i.content}}">
                            <button type="button" class="delete-task-btn" onclick="deleteTask({{ i.id }})">Delete</button>
                        </div>
                        <input type="checkbox" name="completed[]" {% if i.completed %}checked{% endif %}>
                    </div>
                </ul>
            {% endfor %}
            <button type="button" id="add-task-btn">Add Task</button>
            <div class="button-container">
                <button id="join-btn" type="submit">Edit Group</button>
                <form action="/" method="get">
                    <button id="cancel-btn">Cancel</button>
                </form>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addTaskBtn = document.getElementById('add-task-btn');
            const tasksContainer = document.getElementById('tasks-container');

            addTaskBtn.addEventListener('click', function () {
                const newTaskDiv = document.createElement('div');
                newTaskDiv.classList.add('task');

                const newTaskInput = document.createElement('input');
                newTaskInput.type = 'text';
                newTaskInput.classList.add('task-input');
                newTaskInput.name = 'task[]';
                newTaskInput.required = true;

                newTaskDiv.appendChild(newTaskInput);
                tasksContainer.appendChild(newTaskDiv);
            });
        });

        function deleteTask(taskId) {
            fetch(`/groups/{{ group_id }}/${taskId}/delete`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ task_id: taskId })
            })
        .then(response => {
            if (response.ok) {
                alert('성공');
                window.location.href = '/';
                alert('성공2');
            } else {
                console.error('Failed to delete task');
            }
        })
        .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
