<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail View - Group 1</title>
    	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='group-details_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="details-container">
        <form id="schedule-form" action="{{ url_for('editGroup', group_id=group_id )}}" method="post">
        <h2>Group Name:
            <input type="text" id="group-name" name="group-name" required value="{{group.name}}">
        </h2>

        <p>Group Info:
            <textarea id="group-info" name="group-info" rows="4" required>{{group.description}}</textarea>
        </p>



        
        <h3>Check List</h3>
        		{% for i in checklist %}

        <ul>
                        <div id="tasks-container">
            <div class="task">
                    <input type="text" class="task-input" name="task[]" required value="{{i.content}}">
                <form action="{{ url_for('deleteCheckList', group_id=i.group_id , checklist_id = i.id)}}" method="post">
                    <button type="submit" class="delete-task-btn">Delete</button>
                </form>
                </div>
            <input type="checkbox" name="completed[]"{% if i.completed %}checked{% endif %}>
                        </div>
        </ul>
		{% endfor %}
            <button type="button" id="add-task-btn">Add Task</button>
        <div class="button-container">
            <button id="join-btn" type="submit">Edit Group</button>

                        <form action="/" method="get">
            <button id="cancel-btn">Cancel</button>
                        </form>

        </div>
        </form>
    </div>
<script>
        // JavaScript 코드
        document.addEventListener('DOMContentLoaded', function () {
            const addTaskBtn = document.getElementById('add-task-btn');
            const tasksContainer = document.getElementById('tasks-container');

            addTaskBtn.addEventListener('click', function () {
                // 새로운 작업 입력 창을 생성
                const newTaskDiv = document.createElement('div');
                newTaskDiv.classList.add('task');

                const newTaskInput = document.createElement('input');
                newTaskInput.type = 'text';
                newTaskInput.classList.add('task-input');
                newTaskInput.name = 'task[]';
                newTaskInput.required = true;

                newTaskDiv.appendChild(newTaskInput);
                tasksContainer.appendChild(newTaskDiv);
            });

        });
    </script>
</body>
</html>
