<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check List with GGG</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Check List with GGG</h1>
        <button id="profile-btn">Profile</button>
    </header>
    <main class="block-container">
                		{% for i in group %}
        <form action="/groups/{{i.id}}/list" method="get">
    <button type="submit" class="block list-block">{{i.name}}</button>
</form>
        		{% endfor %}

        <form action="/groups/new" method="get">
    <button type="submit" class = "add-btn">Add</button>
</form>

    </main>
    <script src="home.js"></script>
</body>
</html>
